<!DOCTYPE html>
	<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Trinity - Channle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/animate.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/modernizr-2.6.2.min.js"></script>

	</head>
	<body>

		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 form-box">
					<form action="channle?#" method="post" class="channle-form animate-box" data-animate-effect="fadeIn">
						<svg class="icon icon-left" aria-hidden="true" onclick="location.href='/'">
						  <use xlink:href="#icon-right"></use>
						</svg>
						<h4 style="float: right;text-align: right;margin-right: -14px;" id="channle-edit">Edit</h4>
						<h2>Register Channel</h2>
						<div class="form-group">
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-tongxunlu"></use>
							</svg>
							<label for="regist-channle-address" class="sr-only">Address</label>
							<input type="text" class="form-control" name="address" id="regist-channle-address" placeholder="Address" autocomplete="off">
						</div>
						<div class="form-group">
							<svg class="icon icon-assets" aria-hidden="true">
							  <use xlink:href="#icon-arrow-right"></use>
							</svg>
							<label for="transfer-assets" class="sr-only">Assets</label>
							<input type="text" class="form-control" name="assets" id="transfer-assets" placeholder="Assets" readonly="true">
						</div>
						<div class="form-group">
							<label for="regist-channle-deposit" class="sr-only">Deposit</label>
							<input type="number" class="form-control" name="deposit" id="regist-channle-deposit" placeholder="Deposit">
						</div>
						<div class="form-group">
							<label for="regist-channle-time" class="sr-only">open_blockchain</label>
							<input type="number" class="form-control" name="time" id="regist-channle-time" placeholder="Open_blockchain">
						</div>
						<div class="form-group">
							<label for="regist-channle-remark" class="sr-only">Remark</label>
							<input type="text" class="form-control form-remark" id="regist-channle-remark" placeholder="Remark" autocomplete="off">
						</div>
						<div class="form-group form-btn" style="margin:50px 0;">
							<input type="submit" value="Regist" class="btn btn-channle">
						</div>
					</form>
					<form action="#" class="assets-form animate-box" data-animate-effect="fadeIn">
						<svg class="icon icon-left" aria-hidden="true" id="close-assets">
						  <use xlink:href="#icon-right"></use>
						</svg>
						<h4>Assets</h4>
						<hr style="margin-top: 14px;margin-bottom: 14px;">
						<div id="NEO">
							<img src="images/NEO.png">
							<p>NEO</p>
						</div>
						<hr style="margin-top: 14px;margin-bottom: 14px;">
						<div id="GAS">
							<img src="images/GAS.png">
							<p>GAS</p>
						</div>
						<hr style="margin-top: 14px;margin-bottom: 14px;">
						<div id="trinity">
							<img src="images/trinity.png">
							<p>TNC</p>
						</div>
						<hr style="margin-top: 14px;margin-bottom: 14px;">
					</form>
					<form action="#" class="channle-edit-form animate-box" data-animate-effect="fadeIn">
						<svg class="icon icon-left" aria-hidden="true" id="close-assets">
						  <use xlink:href="#icon-right"></use>
						</svg>
						<h4>Channle</h4>
						<hr style="margin: 10px 0;">
						<div id="Channle3">
							<p id="channle-address-3"><%= channle_info.channel_name %></p>
							<span class="channle-i" name="address" id="channle-i-3">i</span>
							<h5><%= date %></h5>
							<h5 id="channle-deposit-3">Deposit:<%= deposit %></h5>
							<h5 id="channle-state-3">State:<%= state %></h5>
						</div>
						<hr style="margin: 10px 0;">
						<div id="Channle2">
							<p id="channle-address-2">AUvupHdCKhaSsfPpzo6f4He4c9wFwhkLmZ</p>
							<span class="channle-i" id="channle-i-2">i</span>
							<h5>2018-01-08</h5>
							<h5 id="channle-deposit-2">Deposit:20TNC</h5>
							<h5 id="channle-state-2">State:CLOSED</h5>
						</div>
						<hr style="margin: 10px 0;">
						<div id="Channle1">
							<p id="channle-address-1">AY8r7uG6rH7MRLhABALZvf8jM4bCSfn3YJ</p>
							<span class="channle-i" id="channle-i-1">i</span>
							<h5>2018-01-01</h5>
							<h5 id="channle-deposit-1">Deposit:100TNC</h5>
							<h5 id="channle-state-1">State:OPEN</h5>
						</div>
						<hr style="margin: 10px 0;">
					</form>
					<div class="curtain"></div>
					<form action="#" class="channle-info-form animate-box" data-animate-effect="fadeIn">
						<a class="close-btn" href="javascript:;">×</a>
						<h4>Channle Info</h4>
						<label>Channel Name:<br><span id="info-channle-name"><%= channle_info.channel_name %></span></label><br>
						<label>Sender Address:<br><span id="info-sender-addr">0xf4cc4154a4987f8784064468c3c6b21f0d0cdd64</span></label><br>
						<label>Receiver Address:<br><span id="info-receiver-addr"><%= address %></span></label><br>
						<label>Deposit:<span id="info-deposit"><%= deposit %></span></label><br>
						<label>open_blockchain:<span id="info-open-blockchain"><%= time %></span></label><br>
						<label>Current State:<span id="info-state"><%= state %></span></label><br>
						<div style="text-align: center;">
							<input type="button" value="Close Channle" class="btn btn-close-channle">
						</div>
					</form>
				</div>
			</div>
			<div class="row" style="clear: both;"></div>
		</div>
	
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/iconfont.js"></script>
	<script src="/javascripts/jquery.placeholder.min.js"></script>
	<script src="/javascripts/jquery.waypoints.min.js"></script>
	<script src="/javascripts/main.js"></script>
	</body>
</html>

